# Dépendances
/node_modules
/.pnp
.pnp.js

# Production
/dist
/build

# Fichiers de configuration locaux
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Éditeurs
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Système d'exploitation
.DS_Store
Thumbs.db

# Tests
/coverage

# Cache
.cache
.temp
.eslintcache

# Fichiers temporaires
*.log
*.tmp
*.temp
