parle moi en français

use command compatible with windows 
use english in all your code
use english in all the logging messages (error ,info, warn)
use english in all the comments in your code
use a .gitignore pour ne pas stocker de données sensibles dans Git
use frontend directory to store all the frontend sources
use backend directory to store all the backend sources
use database directory to store all the database sources

--frontend rules:
use Vue.js V3 for the frond end
don't use vue.js 2
don't use typescript
use Vue-i18n for internationalization of the front end
use modern UI
use subtle animations during transitions (example : hover over menus, content appearance).

--backend rules :
use node.js for the back end
use winston for logging with format YYYY-MM-DD HH:mm:ss
do not use i18n in the back end 
do not add metadata within the api response except when it is a GET without query parameters

--database rules :
use sql for the database
all objects in database have a uuid primary key
do not use serial id as primary key in the database
all attributes must start by rel_ when it refers to a key of an external object