# Database (Prisma 7 - used by prisma.config.ts and pg adapter)
DATABASE_URL="postgresql://user:password@localhost:5432/lumiere_v2"

# Server
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# Logging
LOG_LEVEL=info

# AI Agent Configuration
INFOMANIAK_AI_API_URL=https://api.infomaniak.com/1/ai/YOUR_PRODUCT_ID/openai/chat/completions
INFOMANIAK_AI_TOKEN=your_api_token_here
#INFOMANIAK_AI_MODEL=mixtral
#INFOMANIAK_AI_MODEL=swiss-ai/Apertus-70B-Instruct-2509 -> marche pas
#INFOMANIAK_AI_MODEL=gemma3n
#INFOMANIAK_AI_MODEL=mistral3
#INFOMANIAK_AI_MODEL=qwen3
#INFOMANIAK_AI_MODEL=mini_lm_l12_v2
#INFOMANIAK_AI_MODEL=bge_multilingual_gemma2
#INFOMANIAK_AI_MODEL=granite
#INFOMANIAK_AI_MODEL=whisper
INFOMANIAK_AI_MODEL=llama3
#INFOMANIAK_AI_MODEL=flux
#INFOMANIAK_AI_MODEL=granite

# Agent Response Builder
AGENT_TOOL_DATA_MAX_LENGTH=1500


MISTRAL_API_URL=https://api.mistral.ai/v1/chat/completions
MISTRAL_API_KEY=your_api_key_here
MISTRAL_MODEL=mistral-small-latest

GRADIUM_API_URL=wss://eu.api.gradium.ai/api/speech/asr
GRADIUM_API_KEY=your_api_key_here
VOICE_ID_FR=b35yykvVppLXyw_l
VOICE_ID_EN=YTpq7expH9539ERJ
VOICE_ID_DE=-uP9MuGtBqAvEyxI
VOICE_ID_PT=pYcGZz9VOo4n2ynh
VOICE_ID_ES=B36pbz5_UoWn4BDl

